.ListItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F7;
    color: black;
}

.SelectedListItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    color: black;
}