
.container {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 100%;
}

.map {
    margin: 0;
    width: 100%;
    height: 90vh;
}

.ListItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    margin: 0;
}

#App {
    font-family: sans-serif;
    height: 100vh;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

.bm-item:hover {
    color: white;
}

.bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    right: 10px;
    top: 0px;
    /* right: 0; */
    float: right;
    /*background-color: #f0f8ff !important;*/
}

.bm-burger-bars {
    background: #373a47;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

