.Progress-bar {
    justify-content: center;
}

.profile-container1 {
    position: relative;
    top: 0px;
    background-color: aqua;
    font-size: x-large;
    font-weight: bold;
}

.profile-container2 {
    position: relative;
    top: 10px;
    background-color: Highlight;
    font-size: x-large;
}

.profile-container3 {
    position: relative;
    top: 15px;
    background-color: mediumslateblue;
    font-size: x-large;
}